nav {
  width: 100vw;
  padding: 0 11%;
  background: rgb(39, 40, 44, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

nav .logo {
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.nav-links li a:hover,
.nav-links li a:focus {
  border-bottom: 2px #fff solid;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  padding: 10px;
  margin: 0 35px;
}

.hamburger {
  display: none;
  cursor: pointer;
  color: white;
}

.hamburger li {
  width: 50px;
  height: 3px;
}

.nav-links-dropdown-menu {
  display: none;
  position: absolute;
  top: 55px;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgb(39, 40, 44, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000;
  animation: slideInFromTop;
  animation-duration: 1s;
}

.nav-links-dropdown-menu a:hover,
.nav-links-dropdown-menu a:focus {
  border-bottom: 2px #fff solid;
}

.nav-links-dropdown-menu a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  padding: 10px;
  margin: 0 35px;
}

/* toggle the display of the hamburger when the user clicks on it. */
.hamburger .fa-times {
  display: none;
}

.hamburger.open .fa-times {
  display: block;
}

.hamburger.open .fa-bars {
  display: none;
}

.hamburger.open .nav-links-dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* --------------------------------------------------------------- Media Queries -----------------------------------------------*/
/* tablet view and under */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links .buttons {
    display: none;
  }

  .nav-links li {
    display: none;
  }
}
