.product-functionality {
  padding: 0 20%;
  height: 1200px;
}

.cards {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  height: 100%;
  margin-bottom: 200px;
  /* background: url(../img/product-functionality.svg) no-repeat bottom;
  background-position-x: 70%; 
  background-position-y: 70%;  */
}

.product-functionality.fade-in-slow.fade-out #item-0 {
  animation: slide-in-right 2s ease-in-out;
}

.product-functionality.fade-in-slow.fade-out #item-1 {
  animation: slide-in-right 2s ease-in-out;
}

.product-functionality.fade-in-slow.fade-out #item-2 {
  animation: slide-in-right 2s ease-in-out;
}

.product-functionality.fade-in-slow.fade-out #item-3 {
  animation: slide-in-left 2s ease-in-out;
}


#item-0 {
  color: white;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 5;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#item-0 .text h3 {
  font-size: 2.5em;
  margin: 15px;
}

#item-0 .text h3 span {
  color :rgba(31, 103, 161, 1);
}

#item-0 .text p {
  color: rgba(230, 230, 230, 0.7);
  margin: 15px;
  font-size: 1.2em;
}


#item-1 {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 4;
  height: 200px;
}

#item-2 {
  grid-row-start: 3;
  grid-column-start: 4;
  grid-row-end: 4;
  grid-column-end: 7;
  height: 200px;
}

.product-functionality .card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--sponsors-card-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  border-radius: 10px;
}

.product-functionality .card h3 {
  position: absolute;
  top: 15px;
  left: 25%;
  font-size: 2.5em;
  color: white;
}

.product-functionality .card h3 span {
  color: rgba(31, 103, 161, 1);
}

.product-functionality .card .icon-a {
  position: absolute;
  top: 15px;
  color: white;
  left: 15px;
  background-color: rgba(51, 123, 181, 1);
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.product-functionality .card .icon-a img {
  width: 100%;
}

.product-functionality .card .icon-b {
  position: absolute;
  top: 15px;
  color: white;
  left: 15px;
  background-color: wheat;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.product-functionality .card .icon-b img {
  width: 100%;
}

.product-functionality .card p {
  padding: 50px;
  color: rgba(230, 230, 230, 0.7);
}

#item-3 {
  grid-row-start: 1;
  grid-column-start: 5;
  grid-row-end: 3;
  grid-column-end: 7;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#item-3 img {
  width: 100%;
}
