.team-section {
  height: 300vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.team-introduction {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-introduction h4 {
  font-size: 2em;
  color: white;
}

.team-introduction span {
  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(31, 103, 161, 1) 0%,
    rgba(31, 103, 161, 1) 50%,
    rgba(30, 41, 78, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.team.fade-in-slow.fade-out .card:nth-child(0) {
  animation: slide-in-left 2s ease-in-out;
}

.team.fade-in-slow.fade-out .card:nth-child(1){
  animation: slide-in-right 2s ease-in-out;
}

.team {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  padding-top: 50px;
  background: url(../img/team-section.svg);
}

.team .card {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px;
  background-color: var(--sponsors-card-color);
  height: 350px;
  width: 700px;
  border-radius: 10px;
  padding: 30px;
  margin: 0 10px;
}
.card-image {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.card-image img {
  height: 100%;
  border: 7px solid white;
  border-radius: 50%;
}


.header {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 6;  
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header h3 {
  font-size: 1.5em;
  color: white;
}

.header h3 span {
  color: rgba(31, 103, 161, 1);
}

.body {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 4;
  grid-column-end: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body p {
  color: rgba(230, 230, 230, 0.7);
  font-size: 1.1em;
}

.contact-details {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-details p {
  font-size: 1.1em;
  color: rgba(31, 103, 161, 1);
  cursor: pointer;
}



@media (max-width: 600px) {
  .team {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: none;
  }

  .header h3 {
    text-align: center;
  }

  .team .card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 700px;
    margin: 10px 0px;
    width: 300px;
  }

  .card-image img {
    width: 200px;
  }
}