{% extends 'base.html' %} {% block title %}Use Cases{% endblock %} {% block content
%}
<!-- product section -->
<div class="hero">
  <div class="text">
    <h1>
      High-throughput Simulations and Machine Learning for
      <span>Materials Design and Discovery</span>
    </h1>
    <p>
      Development of data-driven insights and structure-property relationships are
      essential to reduce the search space and guide efforts toward selection of
      outstanding materials. At Monoclinic, we use molecular simulations and machine
      learning to rapidly screen hundreds of thousands materials to significantly
      speed up the way MOFs are discovered for energy and environment applications
      including toxic gas sensing, CO2 capture and hydrogen storage.
    </p>
  </div>
</div>

<div class="functionality">
  <img src="/static/img/cloud-colour-and-features.png " alt="" srcset="" />
</div>

<!-- content section -->
<div class="hero">
  <div class="text">
    <h1>IoT enabled MOF Sensors</h1>
    <p>
      Our innovative product can be applied to a MOF-IoT Gas Detection System. It
      combines advanced nanoporous Metal-Organic Framework (MOF) adsorbents with a
      state-of-the-art Internet of Things (IoT) wireless sensor network to detect a
      wide range of toxic gases. This first-of-its-kind system alerts affected
      individuals through alarms and communicates directly with relevant authorities,
      enhancing safety and responsiveness in hazardous situations.
    </p>
    <p>
      The sensors offer extensive coverage and real-time environmental monitoring,
      while the mobile application provides instant notifications, actionable
      recommendations, and options to contact emergency services swiftly.
    </p>
    <p>
      Designed for use in industrial settings, laboratories, and any areas at risk of
      toxic gas exposure, our product sets a new standard in environmental safety.
      Its user-friendly mobile app ensures that all users, regardless of technical
      skill, can easily manage alerts and respond effectively. Our product not only
      increases safety by preventing potential disasters but also represents a
      significant advancement in combining cutting-edge material science with
      innovative wireless network capabilities.
    </p>
  </div>
</div>

<!-- about section -->
<div class="functionality">
  <img src="/static/img/Publish Diagram.svg " alt="" srcset="" />
</div>

<!-- product section -->
<div class="hero">
  <div class="text">
    <h1>
      Deploy your digital twins for predictive control and predictive analytics,
      using <span> your models and your machines </span> for a bespoke solution .
    </h1>
    <p>
      Transform your biomanufacturing workflow with our state-of-the-art digital twin
      platform, designed to enhance efficiency, collaboration, and precision across
      all stages of process development and control.
    </p>
  </div>
</div>

<!-- about section -->
<div class="team-section">
  <video width="70%" controls muted autoplay>
    <source src="../static/img/Media1.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</div>

<!-- product section -->
<div class="hero">
  <div class="text">
    <h1>
      <span>Developing and deploying digital twins </span> is as easy as selecting a
      card.
    </h1>
    <p>
      Our software platform is built on the Internet of Things (IoT) philosophy of
      connecting people, data, and machines. We believe that by allowing process
      developers, data professionals and operators to easily access the right
      information at the right time we can unlock transformative untapped business
      value. Also, by automating manufacturing and business processes, we can turn
      your batch processes into the Smart biomanufacturing of the Future.
    </p>
  </div>
</div>

<!-- about section -->
<div class="team-section">
  <video height="70%" controls muted autoplay>
    <source src="../static/img/digital twin video.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</div>

{% endblock %}
