{% extends 'base.html' %} {% block title %}Monoclinic{% endblock %} {% block content
%}
<!-- hero div -->
<div class="hero">
  <div class="text">
    <h1>
      <span>Thank you for showing interest</span> we will get back to you soon.
    </h1>
    <p>
      In the meantime, you can check out our case studies to see how we have helped
      other companies like yours.
    </p>
    <div class="buttons">
      <a href="../case_studies" class="button"><span>Learn More</span><i></i></a>
    </div>
  </div>
</div>

<section class="team-section"></section>

{% endblock %}
